<%- include('../partials/header.ejs')  %>

    <title>LISTAGEM DE INSTRUMENTO - LIBRI</title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs')  %>

        <div class="card mt-2">
            <div class="card-header">LISTAGEM DE INSTRUMENTO</div>
        </div>

        <%
            instrumento.forEach(instrumento=>{
        %>

            <div class="card mt-2">

                <div class="card-body">
                    <%= instrumento.nome_instrumento %>
                </div>

                <a href="/formEdicaoInstrumento/<%= instrumento.id %>" class="btn btn-success mt-1">EDITAR</a>
                <a href="/excluirInstrumento/<%= instrumento.id %>" class="btn btn-danger mt-1">EXCLUIR</a>

            </div>

        <% }) %>

    </div>

</body>

<%- include('../partials/footer.ejs')  %>